.git
.github
.gitignore
.idea
.vscode
.dockerignore
*.md
LICENSE
Makefile
dist
docs
rootfs
server-snapshots
scripts
deploy
web/app/node_modules
web/app/dist
config/stack.local.json
**/.DS_Store
**/*.test
**/.env
**/.env.local
coverage.out
*.pprof
*.tar.gz
